/* 전체 컨테이너 */
.box-container {
    width: 100%;
    max-width: 1986px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: url('/20241122/today/image/box.jpg') no-repeat center center/cover;
    padding: 20px;
    box-sizing: border-box;
}

/* 도마도 사진 */
.tomato-photo-frame {
    position: relative;
    width: 80%;
    max-width: 891px;
    height: auto;
    flex-shrink: 0;
    background: url('/20241122/today/image/도마도.jpg') lightgray 50% / cover no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 도마도 사진 */
.tomato-photo {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

/* 도마도 사진 위 프레임 */
.content-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 891px;
    padding: 58px 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: rgba(43, 43, 43, 0.70);
    backdrop-filter: blur(5px);
}

/* 왼쪽 컨텐츠 - 텍스트와 사진 */
.left-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* 텍스트와 이미지를 중앙 정렬 */
    g